{% extends "shared/base_list.html" %}

{% block create_button %}{% endblock %}

{% block list_header_extra %}
    <div class="alert alert-light border mb-4 shadow-sm">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <i class="bi bi-mortarboard me-2 text-primary"></i>
                <strong>Studiengang:</strong> {{ request.user.program|default:"Nicht zugeordnet" }}
            </div>
            <div class="col-sm-6">
                <i class="bi bi-calendar-event me-2 text-primary"></i>
                <strong>Aktuelles Semester:</strong> {{ request.user.current_semester|default:"-" }}
            </div>
        </div>
    </div>
{% endblock %}

{% block list_item_content %}
    <div class="d-flex flex-column flex-md-row justify-content-between w-100">
        <div><strong>Prüfung:</strong> {{ item.exam.title }}</div>
        <div>{% include "exams/partials/type_indicator.html" with type=item.exam.type %}</div>
        <div><strong>Semester </strong> {{ item.exam.semester }}</div>
        <div><strong>Datum:</strong> {{ item.exam.exam_start|date:"d.m.Y" }}</div>
        <div><strong>Note:</strong> {{ item.grade|default:"-"}}</div>
    </div>
{% endblock %}