{% extends "exams/exams_list.html" %}

{% block title %}Prüfungsteilnehmer verwalten{% endblock %}

{% block list_title %}Prüfungsteilnehmer verwalten{% endblock %}

{% block create_button %}{% endblock %}

{% block create_url %}{% endblock %}

{% block list_item_button_area %}
    {% if e.exam_start and e.exam_start <= now %}
        {% url 'exam_grades' item.pk as grades_url %}
        {% include "shared/partials/secondary_button.html" with url=grades_url label='Notenliste' %}
    {% else %}
        {% url 'edit_registrations' item.pk as edit_registrations_url %}
        {% include "shared/partials/primary_button.html" with url=edit_registrations_url label='Anmeldungen bearbeiten' %}
    {% endif %}
{% endblock %}