{% extends "exams/exams_list.html" %}

{% block title %}Prüfungen bewerten / einsehen{% endblock %}

{% block list_title %}Prüfungen bewerten / einsehen{% endblock %}

{% block create_button %}{% endblock %}

{% block list_item_title_extended %}
    {% if item.assistant_examiner_user == request.user %}
        <span class="badge rounded-pill border bg-info-subtle text-info border-info">
        <i class="bi bi-person-plus me-1"></i>
            Als Beisitz
        </span>
    {% endif %}
{% endblock %}

{% block list_item_button_area %}
    {% if item.exam_start and item.exam_start <= now %}
        {% url 'exam_grades' item.pk as exam_grades_url %}
        {% include "shared/partials/outlined_secondary_button.html" with url=exam_grades_url label='Notenliste' %}

        {% if item.examiner_user == request.user and item.is_finished %}
            {% url 'exam_grading' item.pk as exam_grading_url %}
            {% include "shared/partials/primary_button.html" with url=exam_grading_url icon='bi-star' label='Bewerten' %}
        {% endif %}
    {% endif %}
{% endblock %}