<span class="badge rounded-pill border
        {% if type == 'written' %}bg-primary-subtle text-primary border-primary-subtle
        {% elif type == 'oral' %}bg-info-subtle text-info border-info-subtle
        {% elif type == 'project' %}bg-secondary-subtle text-secondary border-secondary-subtle
        {% else %}bg-light text-dark border-secondary-subtle{% endif %}">

        <i class="bi
            {% if type == 'written' %}bi-pencil-square
            {% elif type == 'oral' %}bi-person-video3
            {% elif type == 'project' %}bi-file-earmark-text
            {% else %}bi-question-circle{% endif %} me-1"></i>

    {% if type == 'written' %}Schriftliche Prüfung
    {% elif type == 'oral' %}Mündliche Prüfung
    {% elif type == 'project' %}Studienarbeit
    {% else %}Unbekannter Typ{% endif %}
    </span>