{% extends "shared/base_list.html" %}

{% block title %}Studiengangsassistenz hinzufügen{% endblock %}

{% block list_title %}Studiengangsassistenz für {{ program.name }} hinzufügen{% endblock %}

{% block create_button %}
    <a class="btn btn-secondary" href="{% url 'user_list' %}">Benutzer verwalten</a>
{% endblock %}

{% block list_item_content %}
    <span>{{ item.full_name }}</span>
    <span class="btn-group">
        <a class="btn btn-sm btn-primary" href="{% url 'degreeprogram_assistance_add' program.pk item.pk %}">
            Hinzufügen
        </a>
    </span>
{% endblock %}

{% block empty_message %}
    Es wurde kein weiterer Benutzer mit der Rolle 'Assistenz' gefunden.
{% endblock %}

{% block cancel_button %}
    <a class="btn btn-outline-secondary" href="{% url 'degree_assistance' program.pk %}">Abbrechen</a>
{% endblock %}
