{% extends "users/user_list.html" %}

{% block create_button %}{% endblock %}

{% block list_item_button %}
    <div class="col-12 col-md-4 d-flex justify-content-md-end">
        <div class="btn-group w-100 w-md-auto">
            <a class="btn btn-primary"
               href="{% url 'studydata_edit' item.pk %}">
                Studienverlauf bearbeiten
            </a>
        </div>
    </div>
{% endblock %}

{% block empty_message %}
Keine Studierenden gefunden, welche Sie bearbeiten dürfen.
{% endblock %}